<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerFiles}}
</head>
<body>

    {{>nav}}

    <!-- main home section -->

    <div class="container-fluid main_header col-mt-10"  id="home">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_right" id="right-container">
                        <figure>
                            <img src="images/404img.jpg" width="100%" srcset="" class="image-fluid errorimg" style="max-width: auto;">
                            <a href="/" class="goBackUrl"><button class="btn btn-dark goBackBtn">Go Back</button></a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}

</body>
</html>