<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerFiles}}
</head>
<body>

    {{>nav}}

    <!-- main home section -->

    <div class="container-fluid main_header col-mt-10"  id="home">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right" id="right-container">
                        <figure>
                            <img src="images/about1.jpg" width="100%" srcset="" class="image-fluid">
                        </figure>
                    </div> 
                    <div class="col-md-6 col-12 main_header_left" id="left-container">
                          <h1>Hey There!</h1>
                          <p>Check out my Personal Portfolio Website.</p>
                          <a href="https://pramantomar.github.io/Personal-Portfolio-Website/" target="_blank"><button class="btn btn-dark">Here!</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}

</body>
</html>