<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerFiles}}
</head>
<body>

    {{>nav}}

    <!-- main home section -->

    <div class="container align-items-center" id="main-weather-container">
        <div class="row align-items-center">
            <div class="container" id="cityInputBox">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="inputCityName" placeholder="City Name Here" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-info" type="button" id="searchBtn">Search</button>
                    </div>
                </div>
            </div>
            <div class="container align-items-center" id="outputBox">
                <div id="outputBoxContainer">
                    <div class="d-flex justify-content-between" id="topRowBox">
                        <span class="topRow" id="cityName">Indore, IN</span> <span class="topRow" id="date" >Sun, 08 Aug</span> <span class="topRow" id="time">03:15 AM</span>
                    </div>
                    <div class="d-flex justify-content-center" style="height: 125px;">
                        <figure>
                            <img id="weatherCondImg" src="images/icons/sun.gif" alt="" srcset="" style="width: 120px;">
                        </figure>
                    </div>
                    <div class="d-flex justify-content-around" id="temp-box">
                        <div id="temp">
                            <span id="temp_val">28.2</span><img src="images/icons/celsius.gif" alt="" srcset="" id="celsiusImg">
                        </div>
                        <div id="details">
                            <div id="detail-1">Min - <span id="min_temp">20</span>&deg;C</div>
                            <div id="detail-2">Max - <span id="max_temp">20</span>&deg;C</div>
                            <div id="detail-3">Humidity - <span id="hum_val">20</span>%</div>
                            <div id="detail-4">Wind Speed - <span id="feels_like_val">20</span> m/s</div>
                        </div>
                    </div>
                </div>
                <div id="errorMsgBox">
                    <h2>Get Output Here!</h2>
                </div>
                
            </div>
        </div>    
    </div>

    {{>footer}}

    <script src="js/script.js"></script>

</body>
</html>